@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*Color del fondo*/
body {
    background: #f6f7f6;
}

/*Encabezado*/
.encabezado h1 {
    text-align: center;
    font-family: Abril Fatface;
    font-size: 60px;
    font-weight: bold;
    color: #e49d22;
    margin-bottom: 20px;
}
.container__vectore img,
.container__vectors img,
.container__vect img{
    display: none;
}

.encabezado {
    background-color: #13893C;
    padding: 50px;
}

.escudo {
    float: left;
    /* Permite que la imagen se posicione a la izquierda */
    background-position: 20px 20px;
    padding-left: 50px;
    padding-top: 20px;
    width: 200px;
    height: 190px;
    margin-top: -17em;
    margin-left: 26px;
    position:absolute;
    z-index: 999;
}

.titulo a {
    display: block;
    font-family: Abril Fatface;
    font-size: 40px;
    margin-top: 20px;
}

.sesion-titulo {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: #13893C;
    margin-top: 70px;
    margin-bottom: 20px;
}

/*CARRUSEL*/

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 540px;
    height: 550px;
    margin: auto;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
}

.video-container video {
    max-width: 100%;
    max-height: 100%;
    width: 640px;
    height: 550px;
}


.reaccciones-fotos {
    display: flex;
    margin-left: 290px;
    margin-top: 15px;
}

.imagen-reacciones {
    margin-left: 15px;
}

.heart-icon.active {
    fill: red;
    stroke: red;
}

.reaction-count-section {
    display: flex;
    margin-left: 290px;
    margin-top: -20px;
    transform: translate(50%, -50%);
}

.reaction-count-section .container span {
    padding: 5px;
}

.comment-section {
    display: flex;
    margin-left: 330px;
    margin-top: 5px;
}

.comment {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}

#comment-list {
    width: 440px;
    height: 30px;
}

#comment-section {
    display: none;
}

.comment-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

#comment-input {
    width: 400px;
    height: 30px;
    border: none;
    margin-left: 10px;
    border: 1px solid #13893C;
}

#submit-comment {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: #13893C;
}

.encabezado-perfil h4 {
    margin-top: 4px;
    margin-left: 10px;
    font-weight: bold;
}

.encabezado-perfil img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: 3px solid #13893C;
    margin-left: 20px;
}

.encabezado-perfil {
    display: flex;
    margin-left: 290px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.texto-sesion {
    display: flex;
    margin-left: 300px;
}

.vertical-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

h6,
p {
    margin: 0;
}

h6 {
    font-weight: bold;
    font-size: 14px;
    margin-right: 5px
}

.texto-sede,
.texto-musica {
    margin-top: 30px;
    padding: 40px;
    font-size: 20px;
}

/*Pie de pagina*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.pie-pagina {
    width: 100%;
    background-color: white;
}

.pie-pagina h1 {
    text-align: justify;
    margin-left: 70px;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pie-pagina .grupo-1 .box {
    flex: 0 0 30%;
    max-width: 300px;
    margin: 10px;
    text-align: center;
}

.pie-pagina .grupo-1 .box h2 {
    color: #13893C;
    margin-bottom: 25px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 10px;
}

.pie-pagina .grupo-1 .box p {
    color: rgb(87, 85, 85);
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    font-size: 16px;
}

.pie-pagina .grupo-1 .box p:hover,
.pie-pagina .grupo-1 .box a:hover
 {
    color: #13893C;
    font-weight: bold;text-decoration: none;
}

.pie-pagina .grupo-1 .box a {
    color: rgb(87, 85, 85);
    display: flex;
    padding: 10px;
    font-size: 16px;
}

.titulo-imagen {
    width: 100px;
    /* ajusta el tamaño según tus necesidades */
    display: block;
    margin: 0 auto;
    /* centra horizontalmente la imagen */
}


/* Define la animación de rebote */
@keyframes rebote {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-25px);
    }
}

.linea-horizontal {
    border: none;
    border-top: 1px solid rgb(20, 19, 19);
    width: 95%;
    margin: 20px 20px;

}

.footer-final {
    margin-top: 10px;
    margin-left: 70px;
    margin-bottom: 20px;
    font-size: 16px;
}

.footer-final a:hover {
    color: #13893C;
    scale: 1.1em;

}

.box-contactos {
    text-decoration: none;
    display: flex;
    color: rgb(87, 85, 85);
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
}

/* Estilos para pantallas más pequeñas ( móviles) */
@media screen and (max-width: 768px) {
    .escudo {
        display: none;
    }
    .encabezado {
        padding: 40px;
    }
    .encabezado h1{
        display: none;/*oculte el titulo*/
    }

    .titulo {
        font-size: 30px;
        float: left;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        float: right;
    }

    .asistencia-logeo {
        display: none;
        }
    .container__vectore img{
        width: 35px;
        height: auto;
        display:block;
        left: -330px;
        margin-top: -57px;
        position: relative;
    }
    .form1 {
        margin-top: 40px;
    }
    .carousel-inner>.item>img,
    .carousel-inner>.item>a>img {
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 550px;
    margin: 0; /* Elimina todos los márgenes */
    }
    
    .carousel-inner {
        white-space: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
      }
      
      .carousel-inner .item {
        display: inline-block;
        width: 100%;
        scroll-snap-align: center;
      }
    
    .select {
        padding: 5px 5px;
        border-radius: 20px;
        margin-top: 6px;
    }
    .reaction-count-section{
        margin-right: 60px;
    }
    .izq-menuu{
        margin-left: -15px;
    }

    .sesion-titulo {
        font-size: 20px;
    }
    
    .encabezado-perfil {
    margin-left: -20px;
    }
    .reaccciones-fotos {
        margin-left: 0px;
        margin-top: 15px;
    }
    .reaction-count-section {
        margin-left: 30%;
        margin-top: -7%;
    }
    .texto-sesion {
        margin-left: 10px;
        padding: 2px;
    }
    .linea-horizontal {
        width: 90%;
        margin: 0px 20px;
        padding: 2px;
    }
    .pie-pagina h1 {
        text-align: center;
        margin-right: 20%;
        font-size: 16px;
        margin-bottom: 15px;
    }

    .pie-pagina .grupo-1 {
        max-width: 100%;
        display: flex;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .pie-pagina .grupo-1 .box {
        flex: 0 0 30%;
        max-width: 20%;
        max-height: 20%;
        margin-top: -8%;
    }

    .pie-pagina .grupo-1 .box lord-icon {
        max-width: 100%;
        max-height: 100%;
    }

    .pie-pagina .grupo-1 .box h2 {
        margin-bottom: 5px;
        font-size: 15px;
        margin-top: 5px;
    }

    .pie-pagina .grupo-1 .box p {
        margin-bottom: 10px;
    }

    .footer-final {
        margin-left: 20px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 360px) and (max-height: 800px) {
    .container__vectore img{
        width: 8%;
        height: auto;
        margin-left: 415px;
        margin-top: -60px;
        display: block;
        position: absolute;
    }
}
@media screen and (max-width: 312px) and (max-height: 915px) {
    .container__vectore img{
        width: 8%;
        height: auto;
        margin-left: 415px;
        margin-top: -60px;
        display: block;
        position: absolute;
    }
}
@media screen and (max-width: 320px) and (max-height: 568px) {
    .container__vectore img{
        width: 8%;
        height: auto;
        margin-left: 380px;
        margin-top: -60px;
        display: block;
        position: absolute;
    }
}
@media screen and (max-width: 408px) {
    .container__vectore img{
        width: 8%;
        height: auto;
        margin-left: 350px;
        margin-top: -60px;
        display: block;
        position: absolute;
    }
}